<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
      <form action="/dashboard" method="POST" >
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd">
        <br><br>
          {% if message %}
            <p>{{message}}</p>
          {% endif %}
        <input name="login" type="submit" value="Submit">
        <p><a href= "{{url_for('register')}}">New User Register Here </a></p>

      </form>
</body>
</html>